In [79]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [80]:
# one hot encoding the categorical columns
categorical_columns = ['Sex', 'Embarked', 'Cabin']

train_data = pd.get_dummies(train_data, columns=categorical_columns)
test_data = pd.get_dummies(test_data, columns=categorical_columns)

# aligning the columns
train_data, test_data = train_data.align(test_data, join='left', axis=1, fill_value=0)

In [ ]:
 #extracting the features and labels
features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']  + [col for col in train_data.columns if col.startswith('Sex_') or col.startswith('Embarked_')]
target = 'Survived'

X = train_data[features]
Y = train_data[target]

In [81]:
from sklearn.model_selection import cross_val_score

#creating the model
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

#train ML model
model.fit(X, Y)

# evaluating the model
scores = cross_val_score(model, X, Y, cv=10, scoring='accuracy')
print('Mean accuracy:', scores.mean())

Mean accuracy: 0.8237952559300874

In [82]:
 # predicting the test data
predictions = model.predict(test_data[features])

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('data/my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!