In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#extracting the features and labels
features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
target = 'Survived'

X = train_data[features]
Y = train_data[target]

In [3]:
#preprocessing the data
train_data['Embarked'] = train_data['Embarked'].fillna('S')


import numpy as np
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
train_data['Age'] = imputer.fit_transform(train_data[['Age']])
train_data['Fare'] = imputer.fit_transform(train_data[['Fare']])

In [4]:
from sklearn.model_selection import cross_val_score

#creating the model
model = DecisionTreeClassifier()

#train ML model
model.fit(X, Y)

# validating the model
scores = cross_val_score(model, X, Y)

In [5]:
# predicting the test data
predictions = model.predict(test_data[features])

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('data/my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!